
<!DOCTYPE html>
<html>
    
<title>Earn Coins</title>
<body>

	<head>

</head><br><br>
<!-- i cant do frontend sorry ;-; -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/timeme.js"></script>
<script type="text/javascript">

TimeMe.initialize({currentPageName: "earn-coins", idleTimeoutInSeconds: 99999999999999999999999999999999999999999999, });

window.onload = function() {
	
	setInterval(function() {
		let uptime = TimeMe.getTimeOnCurrentPageInMilliseconds()
        let seconds = parseInt(uptime / 1000);
		let minutes = parseInt(seconds / 60);

		if (seconds) {
			uptime = `${seconds} seconds`
		}
		else if (minutes) {
			uptime = `${minutes} minutes and ${seconds} seconds`
		}
		
	    document.getElementById('timeInSeconds').textContent = uptime
        
	}, 37);
}

setInterval(function() {
    $.ajax({
        type: "POST", 
        url:  "/earn", 
        data: JSON.stringify({
            type: 'arc', 
            coins: Math.floor(TimeMe.getTimeOnCurrentPageInSeconds() / 60),
            time: Math.floor(TimeMe.getTimeOnCurrentPageInSeconds()), 
            ms: TimeMe.getTimeOnCurrentPageInMilliseconds(), 
        }), contentType: 'application/json'})
    }, 600000
);

    </script>


	<p id="timeInSeconds" method="POST"></p>
    </div>
<div>
    {% for data in leaderboardpeople %}
    <h4>
        {{ data }}
    </h4>
    {% endfor %}
</div>
</body>

    
</html>