<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom fonts for this template-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/stylelogin.css') }}">
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <title>Home - Dashactyl</title>
    
    <link rel="icon" type="image/png" href="https://camo.githubusercontent.com/d2e9b4ddcf7618efa123961ae270f7eaa83362f8/68747470733a2f2f6d656469612e646973636f72646170702e6e65742f6174746163686d656e74732f3730363937303631373437313330333736312f3736383630363132323134373730383936382f707465726f64616374796c2d70616e656c2e706e67"/>
    <style>
        body {
            background-image: url("https://wallpaperaccess.com/full/84248.png") !important;
            background-repeat: no-repeat !important;
            height: 100% !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
    </style>
</head>

<body>
    <div class="login-dark" style="height: 100vh">
        <form>
            <h2 class="sr-only">Login Form</h2>
            <div class="form-group"><a href="/login"  class="btn btn-primary btn-block" >Dashboard</a>
        </form>
    </div>
</body>